#new-task {
    background: #41445a;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        input {
            flex: 70%;
            padding: 12px 20px;
        }
    }
}